<p>song-list works!</p>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card border-success text-info">

      <div class="card-header">
        <h3 class="card-title"> Song list</h3>
      </div>
      <div class="card-body">

        <table class="table table-striped table-dark">
          <thead>
          <tr>
            <th>no</th>
            <th>nameSong</th>
<!--            <th>infoSong</th>-->
            <th>imageSong</th>
            <th>fileSong</th>
<!--            <th>dateSong</th>-->
            <th>update</th>
            <th>delete</th>
            <th>view</th>

          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of songs, let i = index">
            <td>{{i + 1}}</td>
            <td>{{item.nameSong}}</td>
<!--            <td>{{item.infoSong}}</td>-->
<!--            <td>{{item.imageSong}}</td>-->
            <td><img src="{{item.imageSong}}" alt="" width="100"></td>
<!--            <td>{{item.fileSong}}</td>-->
            <td><audio controls>
              <source src="{{item.fileSong}}" type="audio/ogg">
            </audio></td>
<!--            <td>{{item.dateSong}}</td>-->


                        <td>
              <button type="button"
                      class="btn btn-warning"
                      (click)="onEditSong(item)"

              >update
              </button>
            </td>
            <td>
              <button type="button"
                      class="btn btn-danger"
                      (click)="onDeleteSong(item.idSong)"
                      onclick="return confirm('REALLY DELETE???')"
              >delete
              </button>
            </td>
            <td>
              <button type="button"
                      class="btn btn-info"
                      (click)="onViewSong(item)"

              >view
              </button>
            </td>

          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <div class="card border-danger text-warning">

      <div class="card-header">
        <h3 class="card-title"> song edit</h3>
      </div>
      <div class="card-body">
        <form *ngIf="song">
          <legend>Form song</legend>

          <div class="form-group">
            <label>nameSong</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="song.nameSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>

          <div class="form-group">
            <label>infoSong</label>
            <input type="text"
                   class="form-control"
                   [(ngModel)]="song.infoSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>

          <div class="form-group">
            <label>imageSong</label>
            <input type="file"
                   class="form-control"
                   [(ngModel)]="song.imageSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>
          <div class="form-group">
            <label>fileSong</label>
            <input type="file"
                   class="form-control"
                   [(ngModel)]="song.fileSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>
          <div class="form-group">
            <label>dateSong</label>
            <input type="date"
                   class="form-control"
                   [(ngModel)]="song.dateSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>


          <button type="submit"
                  class="btn btn-warning"
                  (click)="onUpdateSong()"
                  onclick="return alert('update thanh cong')"

          >update song
          </button>
          <br>
          <button type="submit"
                  class="btn btn-light">
            <a href="/song-list">
              back to list song </a>
          </button>


        </form>
      </div>
    </div>
  </div>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

    <div class="card border-secondary text-info">

      <div class="card-header">
        <h3 class="card-title"> song detail</h3>
      </div>
      <div class="card-body">
        <form *ngIf="songDetail">
          <legend>Detail song</legend>

          <div class="form-group">
            <label>nameSong</label>
            <input type="text"
                   class="form-control"
                   readonly
                   [(ngModel)]="songDetail.nameSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>

          <div class="form-group">
            <label>infoSong</label>
            <input type="text"
                   class="form-control"
                   readonly
                   [(ngModel)]="songDetail.infoSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>

          <div class="form-group">
            <label>imageSong</label>
            <td><img src="{{songDetail.imageSong}}" alt=""></td>
<!--            <input type="text"-->
<!--                   class="form-control"-->
<!--                   readonly-->
<!--                   [(ngModel)]="songDetail.imageSong"-->
<!--                   [ngModelOptions]="{standalone: true}"-->
<!--            >-->
          </div>
          <div class="form-group">
            <label>fileSong</label>
            <td><audio controls>
              <source src="{{songDetail.fileSong}}" type="audio/ogg">
            </audio></td>
<!--            <input type="text"-->
<!--                   class="form-control"-->
<!--                   readonly-->
<!--                   [(ngModel)]="songDetail.fileSong"-->
<!--                   [ngModelOptions]="{standalone: true}"-->
<!--            >-->
          </div>
          <div class="form-group">
            <label>dateSong</label>
            <input type="text"
                   class="form-control"
                   readonly
                   [(ngModel)]="songDetail.dateSong"
                   [ngModelOptions]="{standalone: true}"
            >
          </div>
          <button type="submit"
                  class="btn btn-light">
            <a href="/song-list">
              back to list song</a>
          </button>
        </form>
      </div>
    </div>
  </div>

</div>
