<p>song-create works!</p>
<div class="col-xl-6 col-sm-6 col-md-6 col-lg-6">
  <div class="card border-dark text-primary">
    <div class="card-header">
      <h3 class="card-title">song add</h3>
    </div>
    <div class="card-body">
      <form>
        <legend>Form song</legend>
        <div class="form-group">
          <label>nameSong</label>
          <input type="text"
                 class="form-control-file"
                 placeholder="Input field"
                 [(ngModel)]="nameSong"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>

        <div class="form-group">
          <label>infoSong</label>
          <input type="text"
                 class="form-control-file"
                 placeholder="Input field"
                 [(ngModel)]="infoSong"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>

        <div class="form-group">
          <label>imageSong</label>
          <input type="file"
                 class="form-control-file"
                 placeholder="Input field"
                 [(ngModel)]="imageSong"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>
        <div class="form-group">
          <label>fileSong</label>
          <input type="file"
                 class="form-control-file"
                 placeholder="Input field"
                 [(ngModel)]="fileSong"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>
        <div class="form-group">
          <label>dateSong</label>
          <input type="date"
                 class="form-control-file"
                 placeholder="Input field"
                 [(ngModel)]="dateSong"
                 [ngModelOptions]="{standalone: true}"
          >
        </div>

        <button type="submit" class="btn btn-primary"
                (click)="onAddSong()"
                onclick="return alert('add song successful!!')"

        >save
        </button>
      </form>
    </div>

  </div>
</div>
